._footer_13e8h_10 {
    width: 100%;
    padding: 4rem;
    background-color: #f5f5f5;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 10
}

._footer_13e8h_10 ._linkCollection_13e8h_19 {
    display: grid;
    grid-template-columns: repeat(3, auto) 4fr;
    grid-gap: 8rem;
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: -.02em;
    font-weight: 400;
    white-space: nowrap
}

._footer_13e8h_10 ._linkCollection_13e8h_19 header {
    color: #bababa;
    font-size: 1.5rem;
    margin-bottom: 1rem
}

._footer_13e8h_10 ._linkCollection_13e8h_19 a {
    -webkit-transition: color .1s;
    transition: color .1s
}

._footer_13e8h_10 ._linkCollection_13e8h_19 a:hover {
    color: #535355
}

._footer_13e8h_10 ._linkCollection_13e8h_19 ._linkStack_13e8h_40 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style-type: none;
    gap: .2rem
}

._footer_13e8h_10 ._linkCollection_13e8h_19 ._linkStack_13e8h_40 a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

._footer_13e8h_10 ._linkCollection_13e8h_19 ._linkStack_13e8h_40 ._xLink_13e8h_49 {
    height: 3rem;
    padding: .45rem 0
}

._footer_13e8h_10 ._linkCollection_13e8h_19 ._patientRegistryButton_13e8h_53 {
    background-color: transparent
}

._footer_13e8h_10 ._linkCollection_13e8h_19 ._patientRegistryButton_13e8h_53:hover {
    color: #fff;
    background-color: #000
}

._footer_13e8h_10 ._patientRegistryLinkContainer_13e8h_60 {
    display: none
}

._footer_13e8h_10 ._bottom_13e8h_63 {
    margin-top: 27rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

._footer_13e8h_10 ._bottom_13e8h_63 ._logo_13e8h_70 {
    min-width: 5.5rem;
    max-width: 5.5rem;
    fill: #000
}

@media screen and (max-width: 900px) {
    ._footer_13e8h_10 {
        padding: 2rem
    }

    ._footer_13e8h_10 ._linkCollection_13e8h_19 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
        row-gap: 4rem;
        font-size: 1.5rem;
        white-space: nowrap
    }

    ._footer_13e8h_10 ._linkCollection_13e8h_19 header {
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        line-height: 115%;
        letter-spacing: -.02em
    }

    ._footer_13e8h_10 ._linkCollection_13e8h_19 ._linkStack_13e8h_40,
    ._footer_13e8h_10 ._linkCollection_13e8h_19 ._linkStack_13e8h_40 li {
        padding: 0
    }

    ._footer_13e8h_10 ._linkCollection_13e8h_19 ._patientRegistryButton_13e8h_53 {
        display: none
    }

    ._footer_13e8h_10 ._patientRegistryLinkContainer_13e8h_60 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 12rem;
        margin-bottom: 4rem
    }

    ._footer_13e8h_10 ._bottom_13e8h_63 {
        margin-top: 0
    }
}

._announcementBanner_16x3v_10 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 0;
    place-items: center;
    place-content: center;
    padding: 0 2rem;
    -webkit-transition: height .5s ease;
    transition: height .5s ease;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, right top, from(#E486AB), color-stop(20%, #7F80B3), color-stop(50%, #435A93), color-stop(95%, #6452d8));
    background: linear-gradient(90deg, #E486AB 0%, #7F80B3 20%, #435A93 50%, #6452d8 95%)
}

._announcementBanner_16x3v_10._show_16x3v_22 {
    height: var(--announcement-banner-height)
}

._announcementBanner_16x3v_10._hide_16x3v_25 {
    height: 0
}

._announcementBanner_16x3v_10 ._left_16x3v_28,
._announcementBanner_16x3v_10 ._middle_16x3v_29,
._announcementBanner_16x3v_10 ._right_16x3v_30 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem
}

._announcementBanner_16x3v_10 ._left_16x3v_28,
._announcementBanner_16x3v_10 ._left_16x3v_28 ._text_16x3v_35,
._announcementBanner_16x3v_10 ._left_16x3v_28 ._link_16x3v_36,
._announcementBanner_16x3v_10 ._left_16x3v_28 ._link_16x3v_36>span,
._announcementBanner_16x3v_10 ._middle_16x3v_29,
._announcementBanner_16x3v_10 ._middle_16x3v_29 ._text_16x3v_35,
._announcementBanner_16x3v_10 ._middle_16x3v_29 ._link_16x3v_36,
._announcementBanner_16x3v_10 ._middle_16x3v_29 ._link_16x3v_36>span,
._announcementBanner_16x3v_10 ._right_16x3v_30,
._announcementBanner_16x3v_10 ._right_16x3v_30 ._text_16x3v_35,
._announcementBanner_16x3v_10 ._right_16x3v_30 ._link_16x3v_36,
._announcementBanner_16x3v_10 ._right_16x3v_30 ._link_16x3v_36>span {
    font-size: 2.125rem;
    color: #fff;
    font-weight: 400
}

._announcementBanner_16x3v_10 ._left_16x3v_28 ._link_16x3v_36>span,
._announcementBanner_16x3v_10 ._left_16x3v_28 ._link_16x3v_36>svg,
._announcementBanner_16x3v_10 ._middle_16x3v_29 ._link_16x3v_36>span,
._announcementBanner_16x3v_10 ._middle_16x3v_29 ._link_16x3v_36>svg,
._announcementBanner_16x3v_10 ._right_16x3v_30 ._link_16x3v_36>span,
._announcementBanner_16x3v_10 ._right_16x3v_30 ._link_16x3v_36>svg {
    -webkit-filter: drop-shadow(0 0 1rem black);
    filter: drop-shadow(0 0 1rem black)
}

._announcementBanner_16x3v_10 ._left_16x3v_28 {
    display: none;
    position: absolute;
    top: auto;
    left: 1.5rem;
    right: auto
}

._announcementBanner_16x3v_10 ._right_16x3v_30 {
    position: absolute;
    top: auto;
    left: auto;
    right: 1.5rem;
    padding: .5rem 1rem;
    font-size: 1.5rem
}

._announcementBanner_16x3v_10 ._dismiss_16x3v_73 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
    place-items: center;
    background: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
    -webkit-filter: drop-shadow(0 0 1rem black);
    filter: drop-shadow(0 0 1rem black)
}

._announcementBanner_16x3v_10 ._dismiss_16x3v_73 svg {
    width: 2rem
}

._announcementBanner_16x3v_10 ._dismiss_16x3v_73 svg path {
    stroke-width: .25rem;
    stroke: #fff;
    fill: #fff
}

@media screen and (max-width: 900px) {

    ._announcementBanner_16x3v_10 ._middle_16x3v_29,
    ._announcementBanner_16x3v_10 ._middle_16x3v_29 ._link_16x3v_36,
    ._announcementBanner_16x3v_10 ._middle_16x3v_29 ._link_16x3v_36>span {
        font-size: 1.5rem
    }

    ._announcementBanner_16x3v_10 ._middle_16x3v_29 {
        padding: 2rem
    }

    ._announcementBanner_16x3v_10 ._left_16x3v_28 {
        left: 0;
        padding: .5rem
    }

    ._announcementBanner_16x3v_10 ._right_16x3v_30 {
        right: 0;
        padding: .5rem
    }

    ._announcementBanner_16x3v_10 ._dismiss_16x3v_73 {
        font-size: 2rem
    }
}

._pageHeader_c2lk8_1 {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    place-items: center;
    place-content: center;
    z-index: 999;
    height: var(--page-header-height);
    font-size: 1.5rem
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-light.woff2) format("woff2");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-regular-italic.woff2) format("woff2");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-medium-italic.woff2) format("woff2");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-bold-italic.woff2) format("woff2");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-black.woff2) format("woff2");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-black-italic.woff2) format("woff2");
    font-weight: 900;
    font-style: italic
}

:root {
    font-family: UntitledSans;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    place-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
    background-color: #fff;
    overflow: auto
}

@media screen and (max-width: 1399px) {
    :root {
        font-size: 9px
    }
}

@media screen and (max-width: 900px) {
    :root {
        font-size: 10px
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: UntitledSans;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    place-items: center;
    width: 100%;
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

a {
    color: #000
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit
}

button {
    cursor: pointer
}

hr {
    width: 100%;
    margin: 0;
    border: none;
    border-top: .15rem solid #D9D9D9
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0
}

figure {
    margin: 0
}

iframe {
    border: none
}

h1,
h2 {
    font-size: 9rem;
    line-height: 110%;
    font-weight: 300;
    letter-spacing: -.06em
}

h3,
h4 {
    font-size: 5rem;
    line-height: 110%;
    letter-spacing: -.05em
}

button,
a,
p,
div,
span,
em,
strong,
ol,
ul,
figcaption {
    font-size: 2rem
}

figcaption div,
figcaption p {
    font-size: 2rem
}

strong,
.bold,
strong *,
.bold * {
    font-weight: 700
}

@media screen and (max-width: 900px) {

    button,
    a,
    p,
    div,
    span,
    em,
    strong,
    ol,
    ul,
    figcaption {
        font-size: 1.5rem
    }

    figcaption div,
    figcaption p {
        font-size: 1.5rem
    }

    h1,
    h2 {
        font-size: 5rem;
        line-height: 110%;
        font-weight: 400;
        letter-spacing: -.05em
    }

    h3,
    h4 {
        font-size: 2.5rem;
        line-height: 115%;
        letter-spacing: -.04em
    }
}

:root {
    --root-header-item-height: 6rem;
    --root-nav-height: var(--root-header-item-height);
    --announcement-banner-height: var(--root-header-item-height);
    --page-header-height: calc(var(--root-nav-height) + var(--announcement-banner-height));
    --page-vh: calc(100vh - var(--page-header-height));
    --page-majority-vh: calc(var(--page-vh) * .8)
}

#page-view {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    place-items: center;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%
}

#page-view .page-main {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    place-items: center;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
    margin-top: calc(var(--page-header-height) * -1)
}

.hidden {
    display: none !important
}

@media screen and (min-width: 1400px) {
    .hide-on-desktop {
        display: none
    }
}

@media screen and (min-width: 901px) {
    .hide-on-tablet {
        display: none
    }
}

@media screen and (max-width: 900px) {
    .hide-on-mobile {
        display: none
    }
}

._nav_u8arg_10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    place-items: center;
    background: white;
    height: var(--root-nav-height)
}

._nav_u8arg_10,
._nav_u8arg_10>* {
    -webkit-transition: background .2s, border .5s;
    transition: background .2s, border .5s
}

._nav_u8arg_10._invisible_u8arg_21 {
    background: transparent;
    color: #fff
}

._nav_u8arg_10._invisible_u8arg_21 ._logoLink_u8arg_25 ._logo_u8arg_25,
._nav_u8arg_10._invisible_u8arg_21 ._logoLink_u8arg_25 ._logo_u8arg_25>path {
    fill: #fff
}

._nav_u8arg_10._invisible_u8arg_21 ._careersLink_u8arg_29,
._nav_u8arg_10._invisible_u8arg_21 ._blogLink_u8arg_30 {
    display: none
}

._nav_u8arg_10._invisible_u8arg_21 a:after {
    background-color: #fff
}

._nav_u8arg_10._invisible_u8arg_21 a[href="/patient-registry"],
._nav_u8arg_10._invisible_u8arg_21 button {
    color: #fff;
    background-color: transparent;
    border: .15rem solid white
}

._nav_u8arg_10._invisible_u8arg_21 a[href="/patient-registry"]:hover,
._nav_u8arg_10._invisible_u8arg_21 button:hover {
    background-color: #fff;
    color: #000
}

._nav_u8arg_10._invisible_u8arg_21 ._main_u8arg_45 {
    border-bottom: none
}

._nav_u8arg_10._navigationVisible_u8arg_48:not(._invisible_u8arg_21) ._navigationAlt_u8arg_48 {
    opacity: 1;
    margin-top: 0;
    color: #000;
    background-color: #fff;
    pointer-events: all;
    border-bottom: .15rem solid #D9D9D9
}

._main_u8arg_45 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
    place-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 1.5rem;
    z-index: 999;
    border-bottom: .15rem solid #D9D9D9
}

._main_u8arg_45>a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-items: center;
    place-content: center;
    height: 100%
}

._main_u8arg_45>a ._logo_u8arg_25 {
    fill: #000;
    -webkit-transition: fill .2s;
    transition: fill .2s;
    width: 5.5rem;
    margin-top: -.6rem
}

._navigationAlt_u8arg_48 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-items: center;
    place-content: center;
    width: 100%;
    gap: 2rem;
    padding: 2rem;
    margin-top: -1.5rem;
    -webkit-transition: opacity .15s, margin-top .3s, border-top .05s .25s;
    transition: opacity .15s, margin-top .3s, border-top .05s .25s;
    text-align: center;
    background: inherit;
    opacity: 0;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 998;
    position: relative
}

._buttonGroup_u8arg_102 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.5rem;
    text-align: center;
    place-items: center;
    place-content: center
}

a._nlkButton_u8arg_110:link,
a._nlkButton_u8arg_110:visited {
    color: #000
}

a._nlkButton_u8arg_110:hover {
    color: #fff
}

@media screen and (max-width: 900px) {
    ._main_u8arg_45>a ._logo_u8arg_25 {
        width: 4.3rem
    }
}

._animateOut_u8arg_122 {
    -webkit-animation: _animateOut_u8arg_122 .2s forwards;
    animation: _animateOut_u8arg_122 .2s forwards
}

@-webkit-keyframes _animateOut_u8arg_122 {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes _animateOut_u8arg_122 {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

._animateIn_u8arg_134 {
    -webkit-animation: _animateIn_u8arg_134 .2s forwards;
    animation: _animateIn_u8arg_134 .2s forwards
}

@-webkit-keyframes _animateIn_u8arg_134 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes _animateIn_u8arg_134 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

._underline-on-hover_u8arg_146 {
    position: relative
}

._underline-on-hover_u8arg_146:after {
    background-color: #000;
    width: 0%;
    content: "";
    height: .1rem;
    bottom: -.15rem;
    left: 0;
    position: absolute;
    -webkit-transition: width .2s;
    transition: width .2s
}

._underline-on-hover_u8arg_146:hover:after {
    width: 100%
}