._container_ny4h1_10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    place-items: center;
    width: 100%;
    padding: var(--page-header-height) 0 15rem
}

._container_ny4h1_10 header {
    padding: 10rem 18rem;
    width: 100%
}

._container_ny4h1_10 ._blogList_ny4h1_21 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    place-items: center;
    width: 100%
}

._container_ny4h1_10 ._blogList_ny4h1_21 ._blogPost_ny4h1_27 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10rem;
    padding: 10rem 18rem;
    width: 100%
}

._container_ny4h1_10 ._blogList_ny4h1_21 ._blogPost_ny4h1_27:not(:last-child) {
    border-bottom: .15rem solid #D9D9D9
}

._container_ny4h1_10 ._blogList_ny4h1_21 ._blogPost_ny4h1_27 ._left_ny4h1_37 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.5rem
}

._container_ny4h1_10 ._blogList_ny4h1_21 ._blogPost_ny4h1_27 ._left_ny4h1_37 ._titleHeader_ny4h1_42 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
    place-items: center
}

._container_ny4h1_10 ._blogList_ny4h1_21 ._blogPost_ny4h1_27 ._left_ny4h1_37 ._titleHeader_ny4h1_42 ._category_ny4h1_47 {
    color: #fff;
    background-color: #b1b1b1;
    padding: .25rem 1.25rem;
    border-radius: 2rem
}

._container_ny4h1_10 ._blogList_ny4h1_21 ._blogPost_ny4h1_27 ._left_ny4h1_37 ._titleHeader_ny4h1_42 ._circle_ny4h1_53 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 100%;
    background-color: #000
}

._container_ny4h1_10 ._blogList_ny4h1_21 ._blogPost_ny4h1_27 ._right_ny4h1_60 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3.5rem
}

@media screen and (max-width: 1399px) {
    ._container_ny4h1_10 header {
        padding: 10rem 8rem
    }

    ._container_ny4h1_10 ._blogList_ny4h1_21 ._blogPost_ny4h1_27 {
        grid-template-columns: 1fr 1fr;
        padding: 10rem 8rem
    }
}

@media screen and (max-width: 900px) {
    ._container_ny4h1_10 {
        padding: var(--page-header-height) 0 5rem
    }

    ._container_ny4h1_10 header {
        padding: 5rem 4rem
    }

    ._container_ny4h1_10 ._blogList_ny4h1_21 ._blogPost_ny4h1_27 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 4rem;
        padding: 5rem 4rem
    }

    ._container_ny4h1_10 ._blogList_ny4h1_21 ._blogPost_ny4h1_27 h3 {
        font-size: 3.5rem
    }
}