@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-light.woff2) format("woff2");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-regular-italic.woff2) format("woff2");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-medium-italic.woff2) format("woff2");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-bold-italic.woff2) format("woff2");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-black.woff2) format("woff2");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: UntitledSans;
    src: url(https://content.neuralink.com/fonts/untitled-sans/untitled-sans-black-italic.woff2) format("woff2");
    font-weight: 900;
    font-style: italic
}

:root {
    font-family: UntitledSans;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    place-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
    background-color: #fff;
    overflow: auto
}

@media screen and (max-width: 1399px) {
    :root {
        font-size: 9px
    }
}

@media screen and (max-width: 900px) {
    :root {
        font-size: 10px
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: UntitledSans;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    place-items: center;
    width: 100%;
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

a {
    color: #000
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit
}

button {
    cursor: pointer
}

hr {
    width: 100%;
    margin: 0;
    border: none;
    border-top: .15rem solid #D9D9D9
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0
}

figure {
    margin: 0
}

iframe {
    border: none
}

h1,
h2 {
    font-size: 9rem;
    line-height: 110%;
    font-weight: 300;
    letter-spacing: -.06em
}

h3,
h4 {
    font-size: 5rem;
    line-height: 110%;
    letter-spacing: -.05em
}

button,
a,
p,
div,
span,
em,
strong,
ol,
ul,
figcaption {
    font-size: 2rem
}

figcaption div,
figcaption p {
    font-size: 2rem
}

strong,
.bold,
strong *,
.bold * {
    font-weight: 700
}

@media screen and (max-width: 900px) {

    button,
    a,
    p,
    div,
    span,
    em,
    strong,
    ol,
    ul,
    figcaption {
        font-size: 1.5rem
    }

    figcaption div,
    figcaption p {
        font-size: 1.5rem
    }

    h1,
    h2 {
        font-size: 5rem;
        line-height: 110%;
        font-weight: 400;
        letter-spacing: -.05em
    }

    h3,
    h4 {
        font-size: 2.5rem;
        line-height: 115%;
        letter-spacing: -.04em
    }
}

:root {
    --root-header-item-height: 6rem;
    --root-nav-height: var(--root-header-item-height);
    --announcement-banner-height: var(--root-header-item-height);
    --page-header-height: calc(var(--root-nav-height) + var(--announcement-banner-height));
    --page-vh: calc(100vh - var(--page-header-height));
    --page-majority-vh: calc(var(--page-vh) * .8)
}

#page-view {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    place-items: center;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%
}

#page-view .page-main {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    place-items: center;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
    margin-top: calc(var(--page-header-height) * -1)
}

.hidden {
    display: none !important
}

@media screen and (min-width: 1400px) {
    .hide-on-desktop {
        display: none
    }
}

@media screen and (min-width: 901px) {
    .hide-on-tablet {
        display: none
    }
}

@media screen and (max-width: 900px) {
    .hide-on-mobile {
        display: none
    }
}