._container_f0bph_10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    gap: 6rem;
    padding: 25rem 32rem
}

@media screen and (max-width: 1399px) {
    ._container_f0bph_10 {
        padding: 10rem 17rem
    }
}

@media screen and (max-width: 900px) {
    ._container_f0bph_10 {
        padding: 10rem 2rem
    }

    ._container_f0bph_10 h2 {
        display: none
    }
}

._dropdownToggle_16zaw_10 {
    width: 100%;
    max-width: calc((100vw - 32rem)/5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .65rem 1.5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 2rem;
    border-radius: 2rem;
    border: none;
    background-color: #f5f5f5;
    color: #000;
    -webkit-transition: background-color .2s;
    transition: background-color .2s
}

._dropdownToggle_16zaw_10>* {
    pointer-events: none
}

._dropdownToggle_16zaw_10 span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: start;
    width: calc(100% - 1.5rem)
}

._dropdownToggle_16zaw_10 span:after {
    content: "";
    width: 4rem;
    display: inline-block
}

._dropdownToggle_16zaw_10 svg {
    min-width: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    stroke-width: .15rem;
    stroke: #000;
    -webkit-transition: stroke .2s;
    transition: stroke .2s
}

._container_16zaw_48._active_16zaw_48 {
    z-index: 1
}

._container_16zaw_48._active_16zaw_48 ._dropdownToggle_16zaw_10 {
    background-color: #000;
    color: #fff
}

._container_16zaw_48._active_16zaw_48 ._dropdownToggle_16zaw_10 svg {
    stroke: #fff
}

._container_16zaw_48 ol {
    position: absolute;
    list-style-type: none;
    list-style: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.8rem 1rem;
    background-color: #f5f5f5;
    left: 0;
    width: 100%;
    border-radius: 2rem;
    max-height: 25rem;
    overflow-y: scroll;
    -webkit-transition: -webkit-clip-path .2s;
    transition: -webkit-clip-path .2s;
    transition: clip-path .2s;
    transition: clip-path .2s, -webkit-clip-path .2s;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0)
}

._container_16zaw_48 ol._open_16zaw_74 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0)
}

._container_16zaw_48 ol li {
    margin: 0;
    padding: .2rem 1rem;
    border-radius: 2rem;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    font-size: 2rem;
    line-height: 115%;
    cursor: pointer
}

._container_16zaw_48 ol li span {
    position: relative
}

._container_16zaw_48 ol li._selectable_16zaw_90:hover span:after {
    content: "";
    background-color: #000;
    width: 100%;
    position: absolute;
    height: .15rem;
    top: 90%;
    left: 0
}

._container_16zaw_48 ol li._unselectable_16zaw_99 {
    cursor: default;
    color: gray
}

@media screen and (max-width: 900px) {
    ._dropdownToggle_16zaw_10 {
        max-width: 100%
    }
}

._inputGroup_1ao32_10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    position: relative;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content
}

._inputGroup_1ao32_10 input {
    white-space: nowrap
}

._inputGroup_1ao32_10 input,
._inputGroup_1ao32_10 button {
    font-size: 1.5rem
}

._searchForm_1ao32_23>* {
    height: 100%
}

._searchForm_1ao32_23 input {
    color: #000
}

._searchForm_1ao32_23 input::-webkit-input-placeholder {
    color: #000
}

._searchForm_1ao32_23 input::-moz-placeholder {
    color: #000
}

._searchForm_1ao32_23 input:-ms-input-placeholder {
    color: #000
}

._searchForm_1ao32_23 input::-ms-input-placeholder {
    color: #000
}

._searchForm_1ao32_23 input::placeholder {
    color: #000
}

._searchForm_1ao32_23 svg {
    min-width: 2rem;
    height: 2rem;
    width: 2rem;
    stroke-width: .15rem;
    stroke: #000;
    -webkit-transition: stroke .2s;
    transition: stroke .2s;
    margin-right: -.5rem
}

@media screen and (max-width: 900px) {
    ._inputGroup_1ao32_10 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%
    }
}

._container_1ssvh_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .8rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
    line-height: 115%;
    letter-spacing: -.02em;
    margin-bottom: 2rem
}

._container_1ssvh_1 svg {
    height: 1.2rem;
    width: 1.2rem;
    stroke-width: .2rem;
    stroke: #000
}

._container_1axsl_10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 25rem 0;
    width: 100%
}

._container_1axsl_10 hgroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    font-size: 2rem;
    padding: 0 18rem
}

._container_1axsl_10 hgroup h2 {
    margin-top: -2rem
}

._container_1axsl_10 hgroup p {
    margin: 0;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: -.03em
}

._container_1axsl_10 nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 20rem 18rem 2rem;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    row-gap: 4rem
}

._container_1axsl_10 ._lookingFor_1axsl_40 {
    padding-top: 25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: .15rem solid #D9D9D9;
    width: 100%
}

._container_1axsl_10 ._lookingFor_1axsl_40>div {
    grid-column: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3rem;
    padding-right: 18rem
}

._container_1axsl_10 ._selectionsVisualized_1axsl_54 ._cancel_1axsl_54 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2.5rem
}

._container_1axsl_10 ._clearFilters_1axsl_59 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

._container_1axsl_10 ._clearFilters_1axsl_59._hidden_1axsl_63 {
    opacity: 0
}

._container_1axsl_10 ._clearFilters_1axsl_59 a {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: pointer
}

@media screen and (max-width: 1399px) {
    ._container_1axsl_10 ._lookingFor_1axsl_40 {
        grid-template-columns: 1fr;
        padding: 12.6rem 18rem
    }

    ._container_1axsl_10 ._lookingFor_1axsl_40>div {
        padding: 0
    }

    ._container_1axsl_10 ._lookingFor_1axsl_40>div h3 {
        font-size: 2.5rem;
        line-height: 115%;
        letter-spacing: -.04em
    }
}

@media screen and (max-width: 900px) {
    ._container_1axsl_10 {
        padding: 10rem 0 0
    }

    ._container_1axsl_10 hgroup {
        padding: 0 2rem;
        grid-template-columns: 1fr;
        letter-spacing: -.04em;
        gap: 5rem
    }

    ._container_1axsl_10 hgroup h2 {
        margin-top: 0
    }

    ._container_1axsl_10 nav {
        padding: 4rem 2rem;
        grid-template-columns: 1fr;
        gap: 1.5rem
    }

    ._container_1axsl_10 nav ._search_1axsl_103 {
        grid-column: 1;
        margin: 0
    }

    ._container_1axsl_10 ._lookingFor_1axsl_40 {
        grid-template-columns: 1fr;
        padding: 12.6rem 2rem 15rem
    }

    ._container_1axsl_10 ._lookingFor_1axsl_40>div {
        padding: 0
    }
}

._container_sy3a6_10 {
    border-top: .15rem solid #D9D9D9;
    font-size: 2rem
}

._container_sy3a6_10 header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8rem 18rem;
    cursor: pointer
}

._container_sy3a6_10 header>* {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

._container_sy3a6_10 ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
    -webkit-transition: max-height .35s;
    transition: max-height .35s;
    max-height: 0;
    overflow: hidden
}

._container_sy3a6_10 ul._expanded_sy3a6_33 {
    max-height: calc(var(--job-number) * 24rem)
}

._container_sy3a6_10 ul li {
    margin: 0;
    padding: 5rem 18rem 5rem 0;
    border-top: .15rem solid #D9D9D9;
    grid-column: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

._container_sy3a6_10 ul ._jobInfo_sy3a6_44 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: .6rem
}

._container_sy3a6_10 ul ._apply_sy3a6_49 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 1.5rem
}

._container_sy3a6_10 ul ._apply_sy3a6_49 svg {
    height: 2.5rem;
    width: 2.5rem
}

._container_sy3a6_10 ul ._apply_sy3a6_49 span {
    position: relative;
    font-size: 2rem;
    white-space: nowrap;
    line-height: 115%;
    letter-spacing: -.02em
}

._container_sy3a6_10 ul ._apply_sy3a6_49 span:after {
    content: "";
    background-color: #000;
    width: 100%;
    position: absolute;
    height: 1px;
    top: 110%;
    left: 0
}

._container_sy3a6_10 ul h5 {
    font-size: 1.75rem;
    color: #bababa;
    line-height: 115%;
    letter-spacing: -.02em
}

._container_sy3a6_10 h3 {
    font-size: 3.5rem;
    margin: auto 0;
    line-height: 110%;
    letter-spacing: -.05em
}

._container_sy3a6_10 h4 {
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: -.02em
}

._alignRight_sy3a6_92 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

._alignRight_sy3a6_92 svg {
    width: 3rem;
    height: 3rem;
    cursor: pointer
}

@media screen and (max-width: 1399px) {
    ._container_sy3a6_10 ul._expanded_sy3a6_33 {
        max-height: calc(var(--job-number) * 26srem)
    }
}

@media screen and (max-width: 900px) {
    ._container_sy3a6_10 {
        font-size: 1.5rem
    }

    ._container_sy3a6_10 header {
        padding: 2.4rem 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    ._container_sy3a6_10 h3 {
        font-size: 2rem
    }

    ._container_sy3a6_10 ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    ._container_sy3a6_10 ul li {
        padding: 2.5rem 2rem 2.5rem 8rem;
        gap: 3rem
    }

    ._container_sy3a6_10 ul ._apply_sy3a6_49 span,
    ._container_sy3a6_10 h4,
    ._container_sy3a6_10 ul h5 {
        font-size: 1.5rem
    }

    ._container_sy3a6_10 ._splitContent_sy3a6_134 {
        margin-left: auto
    }
}

._splash_oecl6_10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 0 17rem 2rem;
    margin-top: var(--page-header-height);
    min-height: var(--page-vh);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 6rem
}

._splash_oecl6_10 h1 {
    max-width: 130rem
}

._splash_oecl6_10 ._innerContainer_oecl6_23 {
    padding: 0 18rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

._splash_oecl6_10 ._innerContainer_oecl6_23>* {
    width: 100%
}

._splash_oecl6_10 ._innerContainer_oecl6_23 h2 {
    font-size: 5rem
}

@media screen and (max-width: 1399px) {
    ._splash_oecl6_10 {
        padding: 0 12rem 8rem
    }

    ._splash_oecl6_10 ._innerContainer_oecl6_23 {
        padding: 0
    }
}

@media screen and (max-width: 900px) {
    ._splash_oecl6_10 {
        padding: 0 2rem 8rem
    }

    ._splash_oecl6_10 ._innerContainer_oecl6_23 {
        gap: 3rem
    }

    ._splash_oecl6_10 ._innerContainer_oecl6_23 h2 {
        font-size: 2rem;
        line-height: 115%;
        letter-spacing: -.02em
    }
}