._button_1168m_10 {
    padding: .75rem 1.5rem;
    border: .15rem solid black;
    border-radius: 2rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    background-color: #fff;
    margin-left: auto;
    -webkit-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
    letter-spacing: -.02em;
    line-height: 115%;
    white-space: nowrap
}

._button_1168m_10._disabled_1168m_22 {
    color: #d9d9d9;
    border-color: #d9d9d9
}

._button_1168m_10:not(._disabled_1168m_22):hover {
    background-color: #000;
    color: #fff
}

._button_1168m_10._large_1168m_30 {
    padding: 2.4rem 3.2rem;
    font-size: 2rem;
    border-radius: 10rem
}

._button_1168m_10._black_1168m_35 {
    background-color: #000;
    color: #fff
}

@media screen and (max-width: 900px) {
    button._large_1168m_30 {
        padding: 1.5rem 2rem
    }
}