._container_16qey_10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    place-content: center;
    place-items: center
}

._container_16qey_10 ._checkbox_16qey_17 {
    height: 0;
    width: 0;
    display: block;
    padding: 0;
    margin: 0;
    -webkit-filter: opacity(0);
    filter: opacity(0)
}

._container_16qey_10 ._checkbox_16qey_17:focus-visible+label:before {
    -webkit-box-shadow: 0 0 .2rem .2rem #000;
    box-shadow: 0 0 .2rem .2rem #000;
    content: "";
    position: absolute;
    top: .4rem;
    left: .4rem
}

._container_16qey_10 ._errorUnder_16qey_32 {
    position: absolute;
    color: #cb0000;
    top: calc(100% + 1rem);
    left: 0;
    font-size: 1.5rem
}

._container_16qey_10 ._label_16qey_39 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    gap: 1rem;
    place-content: space-between;
    place-items: center;
    overflow: hidden;
    -webkit-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
    padding: 2rem 3rem;
    border: 1px solid black;
    border-radius: 10rem;
    line-height: 115%;
    font-size: 2rem;
    letter-spacing: -.03em;
    cursor: pointer
}

._container_16qey_10 ._label_16qey_39 ._labelText_16qey_56 {
    overflow: hidden
}

._container_16qey_10 ._label_16qey_39 ._labelIconContainer_16qey_59 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    width: 3rem;
    margin-right: -.75rem;
    -webkit-transition: stroke .2s;
    transition: stroke .2s;
    place-items: center;
    place-content: flex-end;
    stroke: #000;
    background-color: transparent
}

._container_16qey_10 ._label_16qey_39:hover {
    background-color: gray;
    color: #fff;
    border-color: gray
}

._container_16qey_10 ._label_16qey_39:hover ._labelIconContainer_16qey_59 {
    stroke: #fff
}

._container_16qey_10 ._label_16qey_39._selected_16qey_79 {
    background-color: #000;
    color: #fff;
    border-color: #000
}

._container_16qey_10 ._label_16qey_39._selected_16qey_79 ._labelIconContainer_16qey_59 {
    -webkit-transform: scale(.75);
    transform: scale(.75)
}

._container_16qey_10 ._label_16qey_39._selected_16qey_79 ._labelIconContainer_16qey_59 svg path {
    stroke: #fff
}

._container_16qey_10 ._label_16qey_39._disabled_16qey_90 {
    background-color: #d3d3d3;
    color: #fff;
    border-color: #d3d3d3;
    cursor: not-allowed
}

._container_16qey_10 ._label_16qey_39._disabled_16qey_90 ._labelIconContainer_16qey_59 {
    stroke: #fff
}

@media screen and (max-width: 900px) {
    ._container_16qey_10 ._label_16qey_39 {
        padding: 1rem 2rem;
        letter-spacing: -.03em
    }
}