._container_u4y6w_10 {
    padding: 15rem 0;
    width: 80%;
    max-width: 130rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: var(--page-majority-vh);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.5rem
}

._container_u4y6w_10 ._checkboxContainer_u4y6w_19 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

._container_u4y6w_10 h3,
._container_u4y6w_10 h4 {
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: -.02em;
    margin-top: 1rem
}

._container_u4y6w_10 h4 {
    margin-top: 4rem;
    font-size: 1.8rem
}

._container_u4y6w_10 h4._error_u4y6w_34 {
    color: #cb0000
}

._container_u4y6w_10 button,
._container_u4y6w_10 a {
    margin-left: 0;
    margin-right: auto
}